@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    scroll-behavior: smooth;
}

header {
    background-color: #FFD124;
    align-items: center;
    text-align: center;
}

.navbar {
    background-color: #0093AB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    padding: 10px;
    margin-left: 10px;
    color: #ffffff;
}

.navbar-list li a {
    padding: 5px;
}

.navbar-list li a:hover {
    color: tomato;
    transition: all 0.5s ease 0s;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

a {
    color: #ffffff;
    text-decoration: none;
}


.dropdown {
    float: left;
    overflow: hidden;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 10px;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    padding: 10px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropbtn:hover {
    color: tomato;
    transition: all 0.5s ease 0s;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    color: tomato;
    background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.title h2 {
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
}

.tabs {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    font-family: sans-serif;
}

.tabs__label {
    margin: 10px;
    padding: 10px 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.tabs__radio {
    display: none;
}

.tabs__content {
    padding: 10px 0px 20px 0;
    order: 1;
    width: 100%;
    border-bottom: 3px solid #dddddd;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
}

.tabs__content ol {
    padding-left: 1em;
}

.tabs__content ul {
    list-style: square;
    padding-left: 1em;
}

.tabs__content li {
    padding-left: 1em;
    margin-top: 25px;
    text-align: justify;
}

.tabs__content a {
    color: #009578;
}

.bidang-keahlian li {
    font-weight: 500;
}

.program-studi li {
    font-weight: 500;
}

.tabs__radio:checked+.tabs__label {
    font-weight: bold;
    color: #009578;
    border-bottom: 2px solid #009578;
}

.tabs__radio:checked+.tabs__label+.tabs__content {
    display: initial;
}

.footer {
    margin-top: 60px;
    background-color: #009578;
    height: 55vh;
}

.content-footer {
    padding-top: 50px;
    margin-left: 30px;
}

.list-footer {
    margin-right: 100px;
    float: left;
    margin-bottom: 50px;
}

.logo-footer {
    float: left;
}

.logo-footer img {
    margin-top: 5px;
    margin-left: 125px;
    margin-right: 125px;
    width: 125px;
}

.foot-list {
    margin-top: 20px;
}

.foot-list li {
    list-style: none;
    margin-top: 5px;
}

.foot-list a:hover {
    color: #FFD124;
    transition: all 0.5s ease 0s;
}

.list-footer,
a,
.list-footer2 {
    color: #ffffff;
}

.list-footer2 {
    float: left;
    margin-right: 100px;
}

.foot-list2 {
    margin-top: 20px;
}

.foot-list2 li {
    list-style: none;
    margin-top: 5px;
}

.foot-list2 li a i {
    margin: 0px 10px 0px 0px;
}

.foot-list2 a:hover {
    color: #ffffff;
    transition: all 0.5s ease 0s;
}

.icon {
    padding: 2px;
    float: left;
    font-size: 35px;
}

.icon:hover {
    background-color: #FFD124;
    border-radius: 8px;
    padding: 2px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

.copy {
    clear: both;
    color: #eaeaeacc;
    padding-top: 40px;
    padding-bottom: 35px;
    text-align: center;
    width: 100%;
    display: block;
    float: inline-start;
    cursor: pointer;
}

.copy a {
    color: #eaeaeacc;
}

.copy:hover {
    color: #ffffff;
    transition: all 0.5s ease 0s;
}

.copy a:hover {
    color: #ffffff;
    transition: all 0.5s ease 0s;
}

.footer-mobile {
    padding: 10px;
    background-color: #009578;
}

.copy-mobile {
    clear: both;
    color: #eaeaeacc;
    padding-top: 40px;
    padding-bottom: 35px;
    margin-left: auto;
}

.copy-mobile a {
    color: #eaeaeacc;
}

.copy-mobile:hover {
    color: #ffffff;
    transition: all 0.5s ease 0s;
}

.copy-mobile a:hover {
    color: #ffffff;
    transition: all 0.5s ease 0s;
}

.fa-heart {
    color: red;
}

@media screen and (min-width: 860px) {

    .footer-mobile {
        display: none;
    }
}

@media screen and (max-width: 860px) {

    #contents {
        display: none;
    }

    .footer {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .tabs {
        margin-top: 10px;
        padding: 10px;
    }

    .tabs__content {
        margin-bottom: 30px;
    }

    .footer {
        background-color: #009578;
        height: 100vh;
    }
}